<html>
<head>
<link rel="stylesheet" type="text/css" href="../doc.css">
<link rel="stylesheet" type="text/css" href="../tables.css">
<title>SCN Design Studio Community - Free Download</title>
</head>
<body>

<table>
<tr><td>
 Installable Design Studio SDK Package (Eclipse Update Sites)
 <br/>
 <a href="" onclick="tC('http://org-scn-design-studio-community.github.io/sdkpackage/releases/stable'); return false;">Stable Version Online Repository</a>
 <br/>
 <a href="" onclick="tC('http://org-scn-design-studio-community.github.io/sdkpackage/releases/preview'); return false;">Preview Version Online Repository</a>
 </td>
 </tr>	
<tr><td>
 Installable Design Studio SDK Package as ZIP Download
 <br/>
 <a href="https://github.com/org-scn-design-studio-community/sdkinstall/blob/master/releases/stable/org.scn.community.sdk.package_stable.zip?raw=true" onclick="tOL('https://github.com/org-scn-design-studio-community/sdkinstall/blob/master/releases/stable/org.scn.community.sdk.package_stable.zip?raw=true'); return false;">Stable Version Online Repository</a>
 <br/>
 <a href="https://github.com/org-scn-design-studio-community/sdkinstall/blob/master/releases/preview/org.scn.community.sdk.package_preview.zip?raw=true" onclick="tOL('https://github.com/org-scn-design-studio-community/sdkinstall/blob/master/releases/preview/org.scn.community.sdk.package_preview.zip?raw=true'); return false;">Preview Version Online Repository</a>
 </td>
 </tr>	
<table>

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

var tOL = function(url) {
  if(ga) {ga('send', 'event', 'outbound', 'click', url, {'hitCallback':function () {
     document.location = url;}});} else {document.location = url;}};

function tC(text) {
  if(ga) {ga('send', 'event', 'outbound', 'click', text, {'hitCallback':function () {
       window.prompt("Online Download Link - Copy to clipboard: Ctrl+C, Enter", text);}});} else {
       window.prompt("Online Download Link - Copy to clipboard: Ctrl+C, Enter", text);}};

if(ga) {
  ga('create', 'UA-61231710-1', 'auto');
  ga('send', 'pageview');
}

</script>
</html>
