<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta charset="UTF-8" />
      <title>
         SCN Community Component List
      </title>
      <script id="sap-ui-bootstrap" type="text/javascript" 
      src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js" 
      data-sap-ui-theme="sap_bluecrystal" data-sap-ui-libs="sap.m, sap.ui.ux3">
</script>
      <script type="text/javascript">

   //1. Create a JSON model (oModel).
   var model = {};


   model["basics"] = [
   {
       id: "basics/accordion",
       title: "Accordion",
       info: "Accordion",
       icon: "basics/accordion.png",
       activeIcon: "basics/accordion.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/actionsheetbutton",
       title: "Action Sheet Button",
       info: "ActionSheetButton",
       icon: "basics/actionsheetbutton.png",
       activeIcon: "basics/actionsheetbutton.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/applicationheader",
       title: "Application Header",
       info: "ApplicationHeader",
       icon: "basics/applicationheader.png",
       activeIcon: "basics/applicationheader.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/base64image",
       title: "Base64 Image Encoder",
       info: "Base64Image",
       icon: "basics/base64image.png",
       activeIcon: "basics/base64image.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/basicbusinesscard",
       title: "Basic Business Card",
       info: "BasicBusinessCard",
       icon: "basics/basicbusinesscard.png",
       activeIcon: "basics/basicbusinesscard.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/calendar",
       title: "Calendar",
       info: "Calendar",
       icon: "basics/calendar.png",
       activeIcon: "basics/calendar.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/checkboxgroup",
       title: "Check Box Group",
       info: "CheckBoxGroup",
       icon: "basics/checkboxgroup.png",
       activeIcon: "basics/checkboxgroup.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/colorpicker",
       title: "Color Picker",
       info: "ColorPicker",
       icon: "basics/colorpicker.png",
       activeIcon: "basics/colorpicker.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/daterangescroller",
       title: "Date Range Scroller",
       info: "DateRangeScroller",
       icon: "basics/daterangescroller.png",
       activeIcon: "basics/daterangescroller.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/daterangeslider",
       title: "Date Range Slider",
       info: "DateRangeSlider",
       icon: "basics/daterangeslider.png",
       activeIcon: "basics/daterangeslider.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/dragdroparea",
       title: "Drag Drop Area",
       info: "DragDropArea",
       icon: "basics/dragdroparea.png",
       activeIcon: "basics/dragdroparea.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/embeddedframe",
       title: "Embedded Frame",
       info: "EmbeddedFrame",
       icon: "basics/embeddedframe.png",
       activeIcon: "basics/embeddedframe.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/embeddedmedia",
       title: "Embedded Media",
       info: "EmbeddedMedia",
       icon: "basics/embeddedmedia.png",
       activeIcon: "basics/embeddedmedia.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/fallbackpicture",
       title: "Fallback Picture",
       info: "FallbackPicture",
       icon: "basics/fallbackpicture.png",
       activeIcon: "basics/fallbackpicture.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/fioriappheader",
       title: "Fiori App Header",
       info: "FioriAppHeader",
       icon: "basics/fioriappheader.png",
       activeIcon: "basics/fioriappheader.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/fioributton",
       title: "Fiori Button",
       info: "FioriButton",
       icon: "basics/fioributton.png",
       activeIcon: "basics/fioributton.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/fioritoolbar",
       title: "Fiori Toolbar",
       info: "FioriToolbar",
       icon: "basics/fioritoolbar.png",
       activeIcon: "basics/fioritoolbar.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/fisheye",
       title: "Fish Eye",
       info: "FishEye",
       icon: "basics/fisheye.png",
       activeIcon: "basics/fisheye.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/gauge",
       title: "Gauge (Speedometer)",
       info: "Gauge",
       icon: "basics/gauge.png",
       activeIcon: "basics/gauge.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/imagecarousel",
       title: "Image Carousel",
       info: "ImageCarousel",
       icon: "basics/imagecarousel.png",
       activeIcon: "basics/imagecarousel.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/kpiview",
       title: "Kpi View",
       info: "KpiView",
       icon: "basics/kpiview.png",
       activeIcon: "basics/kpiview.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/launchpad",
       title: "Launch Pad",
       info: "LaunchPad",
       icon: "basics/launchpad.png",
       activeIcon: "basics/launchpad.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/leaderboard",
       title: "Leader Board",
       info: "LeaderBoard",
       icon: "basics/leaderboard.png",
       activeIcon: "basics/leaderboard.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/link",
       title: "Link",
       info: "Link",
       icon: "basics/link.png",
       activeIcon: "basics/link.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/listselector",
       title: "List Selector",
       info: "ListSelector",
       icon: "basics/listselector.png",
       activeIcon: "basics/listselector.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/menubar",
       title: "Menu Bar (>= 1.4)",
       info: "MenuBar",
       icon: "basics/menubar.png",
       activeIcon: "basics/menubar.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/menubutton",
       title: "Menu Button (>= 1.4)",
       info: "MenuButton",
       icon: "basics/menubutton.png",
       activeIcon: "basics/menubutton.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/modalbrowser",
       title: "Modal Browser",
       info: "ModalBrowser",
       icon: "basics/modalbrowser.png",
       activeIcon: "basics/modalbrowser.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/navigationbar",
       title: "Navigation Bar",
       info: "NavigationBar",
       icon: "basics/navigationbar.png",
       activeIcon: "basics/navigationbar.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/notificationbar",
       title: "Notification Bar",
       info: "NotificationBar",
       icon: "basics/notificationbar.png",
       activeIcon: "basics/notificationbar.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/notify",
       title: "Notify",
       info: "Notify",
       icon: "basics/notify.png",
       activeIcon: "basics/notify.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/map",
       title: "Open Street Map (Basic)",
       info: "Map",
       icon: "basics/map.png",
       activeIcon: "basics/map.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/paginator",
       title: "Paginator",
       info: "Paginator",
       icon: "basics/paginator.png",
       activeIcon: "basics/paginator.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/passwordfield",
       title: "Password Field",
       info: "PasswordField",
       icon: "basics/passwordfield.png",
       activeIcon: "basics/passwordfield.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/progressindicator",
       title: "Progress Indicator",
       info: "ProgressIndicator",
       icon: "basics/progressindicator.png",
       activeIcon: "basics/progressindicator.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/qrcode",
       title: "QRCode Generator",
       info: "QRCode",
       icon: "basics/qrcode.png",
       activeIcon: "basics/qrcode.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/rangeslider",
       title: "Range Slider",
       info: "RangeSlider",
       icon: "basics/rangeslider.png",
       activeIcon: "basics/rangeslider.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/ratingindicator",
       title: "Rating Indicator",
       info: "RatingIndicator",
       icon: "basics/ratingindicator.png",
       activeIcon: "basics/ratingindicator.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/roadmap",
       title: "Road Map",
       info: "RoadMap",
       icon: "basics/roadmap.png",
       activeIcon: "basics/roadmap.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/rssfeedreader",
       title: "RSSFeedReader",
       info: "RSSFeedReader",
       icon: "basics/rssfeedreader.png",
       activeIcon: "basics/rssfeedreader.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/segmentedbutton",
       title: "Segmented Button",
       info: "SegmentedButton",
       icon: "basics/segmentedbutton.png",
       activeIcon: "basics/segmentedbutton.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/slider",
       title: "Slider",
       info: "Slider",
       icon: "basics/slider.png",
       activeIcon: "basics/slider.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/textarea",
       title: "Text Area",
       info: "TextArea",
       icon: "basics/textarea.png",
       activeIcon: "basics/textarea.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/togglebutton",
       title: "Toggle Button",
       info: "ToggleButton",
       icon: "basics/togglebutton.png",
       activeIcon: "basics/togglebutton.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/tree",
       title: "Tree",
       info: "Tree",
       icon: "basics/tree.png",
       activeIcon: "basics/tree.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/tristatecheckbox",
       title: "Tri State CheckBox",
       info: "TriStateCheckBox",
       icon: "basics/tristatecheckbox.png",
       activeIcon: "basics/tristatecheckbox.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/valiinput",
       title: "Validated Input Field",
       info: "ValiInput",
       icon: "basics/valiinput.png",
       activeIcon: "basics/valiinput.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/valuehelpfield",
       title: "Value Help Field",
       info: "ValueHelpField",
       icon: "basics/valuehelpfield.png",
       activeIcon: "basics/valuehelpfield.png",
       number: " ",
       numberUnit: "basics"
   },
   {
       id: "basics/worldtime",
       title: "WorldTime",
       info: "WorldTime",
       icon: "basics/worldtime.png",
       activeIcon: "basics/worldtime.png",
       number: " ",
       numberUnit: "basics"
   },

	];
   model["databound"] = [
   {
       id: "databound/jpd3hier",
       title: "D3 Hierarchy",
       info: "jpd3hier",
       icon: "databound/jpd3hier.png",
       activeIcon: "databound/jpd3hier.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/table",
       title: "Data Table",
       info: "Table",
       icon: "databound/table.png",
       activeIcon: "databound/table.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/dropdown",
       title: "Data Drop Down",
       info: "DropDown",
       icon: "databound/dropdown.png",
       activeIcon: "databound/dropdown.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/facetfilter",
       title: "Facet Filter",
       info: "FacetFilter",
       icon: "databound/facetfilter.png",
       activeIcon: "databound/facetfilter.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/leaderboard",
       title: "Data Leader Board",
       info: "LeaderBoard",
       icon: "databound/leaderboard.png",
       activeIcon: "databound/leaderboard.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/multileveldropdown",
       title: "Multi Level DropDown Menu",
       info: "MultiLevelDropDown",
       icon: "databound/multileveldropdown.png",
       activeIcon: "databound/multileveldropdown.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/nicechart",
       title: "Nice Chart",
       info: "NiceChart",
       icon: "databound/nicechart.png",
       activeIcon: "databound/nicechart.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/projector",
       title: "Data Projector",
       info: "Projector",
       icon: "databound/projector.png",
       activeIcon: "databound/projector.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/rangeslider",
       title: "Data Range Slider",
       info: "RangeSlider",
       icon: "databound/rangeslider.png",
       activeIcon: "databound/rangeslider.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/resultsetinfo",
       title: "Result Set Information (Test Phase)",
       info: "ResultSetInfo",
       icon: "databound/resultsetinfo.png",
       activeIcon: "databound/resultsetinfo.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/resultsetmixer",
       title: "Result Set Mixer (Test Phase)",
       info: "ResultSetMixer",
       icon: "databound/resultsetmixer.png",
       activeIcon: "databound/resultsetmixer.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/slider",
       title: "Data Slider",
       info: "Slider",
       icon: "databound/slider.png",
       activeIcon: "databound/slider.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/topflop",
       title: "Data Top Flop",
       info: "TopFlop",
       icon: "databound/topflop.png",
       activeIcon: "databound/topflop.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/topflopchart",
       title: "Data Top FLop Chart",
       info: "TopFlopChart",
       icon: "databound/topflopchart.png",
       activeIcon: "databound/topflopchart.png",
       number: " ",
       numberUnit: "databound"
   },
   {
       id: "databound/ui5table",
       title: "UI5 Table",
       info: "UI5Table",
       icon: "databound/ui5table.png",
       activeIcon: "databound/ui5table.png",
       number: " ",
       numberUnit: "databound"
   },

                     ];
   model["datasource"] = [
   {
       id: "datasource/byodata",
       title: "Bring Your Own Data",
       info: "BYOData",
       icon: "datasource/byodata.png",
       activeIcon: "datasource/byodata.png",
       number: " ",
       numberUnit: "datasource"
   },
   {
       id: "datasource/dyncsvdatasource",
       title: "Dynamic Csv Data Source",
       info: "DynCsvDataSource",
       icon: "datasource/dyncsvdatasource.png",
       activeIcon: "datasource/dyncsvdatasource.png",
       number: " ",
       numberUnit: "datasource"
   },

	];
   model["geovis"] = [
   {
       id: "geo/maps",
       title: "Maps",
       info: "Maps",
       icon: "geo/maps.png",
       activeIcon: "geo/maps.png",
       number: " ",
       numberUnit: "geo"
   },

	];
   model["utils"] = [
   {
       id: "utils/array",
       title: "Array Utility",
       info: "Array",
       icon: "utils/array.png",
       activeIcon: "utils/array.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/clientinformation",
       title: "Client Information",
       info: "ClientInformation",
       icon: "utils/clientinformation.png",
       activeIcon: "utils/clientinformation.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/collection",
       title: "Collection Utility",
       info: "Collection",
       icon: "utils/collection.png",
       activeIcon: "utils/collection.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/componentmanager",
       title: "Component Manager",
       info: "ComponentManager",
       icon: "utils/componentmanager.png",
       activeIcon: "utils/componentmanager.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/customcsscollector",
       title: "Custom Css Collector",
       info: "CustomCssCollector",
       icon: "utils/customcsscollector.png",
       activeIcon: "utils/customcsscollector.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/debugger",
       title: "Debugger Code Inspector",
       info: "Debugger",
       icon: "utils/debugger.png",
       activeIcon: "utils/debugger.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/flowlayouter",
       title: "Flow Layouter",
       info: "FlowLayouter",
       icon: "utils/flowlayouter.png",
       activeIcon: "utils/flowlayouter.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/math",
       title: "Math Utility",
       info: "Math",
       icon: "utils/math.png",
       activeIcon: "utils/math.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/openurlinplace",
       title: "Open Url Inplace",
       info: "OpenUrlInplace",
       icon: "utils/openurlinplace.png",
       activeIcon: "utils/openurlinplace.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/openwindowpost",
       title: "Open Window by Post",
       info: "OpenWindowPost",
       icon: "utils/openwindowpost.png",
       activeIcon: "utils/openwindowpost.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/pdfprint",
       title: "PDF Print",
       info: "PdfPrint",
       icon: "utils/pdfprint.png",
       activeIcon: "utils/pdfprint.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/postresponseparser",
       title: "Post Response Parser",
       info: "PostResponseParser",
       icon: "utils/postresponseparser.png",
       activeIcon: "utils/postresponseparser.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/realdate",
       title: "Real Date",
       info: "RealDate",
       icon: "utils/realdate.png",
       activeIcon: "utils/realdate.png",
       number: " ",
       numberUnit: "utils"
   },
   {
       id: "utils/simpledate",
       title: "Simple Date",
       info: "SimpleDate",
       icon: "utils/simpledate.png",
       activeIcon: "utils/simpledate.png",
       number: " ",
       numberUnit: "utils"
   },

	];
   model["prototypes"] = [
   {
       id: "prototypes/applicationheadere",
       title: "(PROTOTYPE!) Application Header (with Event)",
       info: "ApplicationHeaderE",
       icon: "prototypes/applicationheadere.png",
       activeIcon: "prototypes/applicationheadere.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/applicationheadero",
       title: "(PROTOTYPE!) Application Header (OnBeforeRender)",
       info: "ApplicationHeaderO",
       icon: "prototypes/applicationheadero.png",
       activeIcon: "prototypes/applicationheadero.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/apstester",
       title: "Aps Tester",
       info: "ApsTester",
       icon: "prototypes/apstester.png",
       activeIcon: "prototypes/apstester.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/apstesterui5",
       title: "Aps Tester UI5",
       info: "ApsTesterUI5",
       icon: "prototypes/apstesterui5.png",
       activeIcon: "prototypes/apstesterui5.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/progressset",
       title: "Progress Bar Set",
       info: "ProgressSet",
       icon: "prototypes/progressset.png",
       activeIcon: "prototypes/progressset.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/rapidprototype",
       title: "Rapid Prototyping",
       info: "RapidPrototype",
       icon: "prototypes/rapidprototype.png",
       activeIcon: "prototypes/rapidprototype.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/sapmlist",
       title: "(PROTOTYPE!) Sap M List",
       info: "SapMList",
       icon: "prototypes/sapmlist.png",
       activeIcon: "prototypes/sapmlist.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/apstester",
       title: "Aps Tester",
       info: "ApsTester",
       icon: "prototypes/apstester.png",
       activeIcon: "prototypes/apstester.png",
       number: " ",
       numberUnit: "prototypes"
   },
   {
       id: "prototypes/apstesterui5",
       title: "Aps Tester UI5",
       info: "ApsTesterUI5",
       icon: "prototypes/apstesterui5.png",
       activeIcon: "prototypes/apstesterui5.png",
       number: " ",
       numberUnit: "prototypes"
   },

	];

/*    model["basics"] = [
   {
       id: "idModelTile3",
       title: "Todo",
       info: "Tasks todo",
       icon: "task",
       activeIcon: "task",
       number: 29,
       numberUnit: "tasks"
   },
   ];
 */

   var oModel = new sap.ui.model.json.JSONModel();
   oModel.setData({
       modelData: model["basics"]
   });

   //2. Define a factory method for StandardTile elements (standardTileFactory).    
   var standardTileFactory = function(sId, oContext) {
       //bind all properties from https://sapui5.netweaver.ondemand.com/sdk/#docs/api/symbols/sap.m.StandardTile.html
       //except Type which had little effect Code:oTile.setType(sap.m.StandardTileType.Monitor);
       //+ include our id from the model as CustomData to the TreeNode

       var oTile = new sap.m.StandardTile(sId)
           .bindProperty("title", oContext.sPath + "/title")
           .bindProperty("info", oContext.sPath + "/info")
           .bindProperty("number", oContext.sPath + "/number")
           .bindProperty("numberUnit", oContext.sPath + "/numberUnit")
           .bindProperty("icon",oContext.sPath+"/icon")
           .addCustomData(new sap.ui.core.CustomData({
               key: "modelId",
               value: oContext.oModel.getProperty(oContext.sPath + "/id"),
               writeToDom: true
           }));

       //Provide URI for icons
       var iconSrc = oContext.oModel.getProperty(oContext.sPath + "/icon");
       if (iconSrc) {
           oTile.setIcon(sap.ui.core.IconPool.getIconURI(iconSrc));
       }
       //activeIcon does not seem to be used currently. Consider removing for now
       var activeIconSrc = oContext.oModel.getProperty(oContext.sPath + "/activeIcon");
       if (iconSrc) {
           oTile.setActiveIcon(sap.ui.core.IconPool.getIconURI(activeIconSrc));
       }
       return oTile;
   };

   //3. Define a method for dynamically populate the TreeNodes of a Tree based on its model (createDynamicTreeNodesFromModel)
   function createDynamicTilesFromModel(oTileContainer, modelPath) {
       if (oTileContainer.hasModel() == false) {
           console.log(oTileContainer + " has no model bound to it. Cannot create Tiles");
           return;
       }

       oTileContainer.bindAggregation("tiles", modelPath, standardTileFactory);
   }

   //4. Create an event handler method for when a Tile is clicked
   function onMyTileClicked(oControlEvent) {
       //COMMON code for all event handlers
       var selectedId = oControlEvent.getParameter("id");
       var selectedModelId = null;

       var customDataList = oControlEvent.getSource().getCustomData();
       if (customDataList != null && customDataList.length == 1 && customDataList[0].getKey("modelId")) {
           modelId = customDataList[0].getValue("modelId");
       } else {
           console.log("modelId not bound as CustomData to the TreeNode");
       }

       //selectedId now refers to the TreeNode element
       //selectedModelId now refers to the id field from the model

       //SPECIFIC code for this Tree
       //just updates a TextView with the ids we have found. 
       // alert("onTileNodeClicked ModelId:" + modelId + " \nsapui5 component id:" + selectedId);
       window.location = modelId + ".html";
   }

   //5a. Create a TileContainer component
   //5b. Set the Model of the TileContainer component 
   var componentTile = new sap.m.TileContainer("componentTile");
   var componentTile2 = new sap.m.TileContainer("componentTile2");
   componentTile.setModel(oModel);

   //5c. Dynamically create TileNodes from the model
   createDynamicTilesFromModel(componentTile, "/modelData");

   //5d. Add event handler to all tiles 
   //Event handler is a different for each TileContainer)
   var tiles = componentTile.getTiles();
   if (tiles != null && tiles.length >= 1) {
       for (var i = 0; i < tiles.length; i++) {
           tiles[i].attachPress(onMyTileClicked);
       }
   }

   this.tree = {
       key: "",
       title: "Component Groups",
       nodes: [
       {
           key: "basics",
           title: "Basic Components"
       }, 
       {
           key: "databound",
           title: "Data Bound Components"
       },
	{
           key: "datasource",
           title: "Data Sources"
       },
	{
           key: "geovis",
           title: "Geo Visualizations (Maps)"
       },
	{
           key: "utils",
           title: "Utilities (Non-UI Components)"
       },
	{
           key: "prototypes",
           title: "Prototypes"
       }
       ],
       leafs: []
   };

   var stageUI = new sap.ui.commons.layout.VerticalLayout({
       width: "100%",
       height: "800px"
   });
   var strip = new sap.ui.ux3.NavigationBar({
       toplevelVariant: true,
       width: "100%"
   });
   for (var index in this.tree.nodes) {
       var stripItem = new sap.ui.ux3.NavigationItem({
           key: this.tree.nodes[index].key,
           text: this.tree.nodes[index].title,
       });
       strip.addItem(stripItem);
   }


   strip.attachSelect(function(oControlEvent) {
       var selectedKey = oControlEvent.getParameters().item.getKey();
       oModel.setData({
           modelData: model[selectedKey]
       });
       componentTile.setModel(oModel);
   }, this);

   componentTile.addStyleClass("org-scn-CompListBody");
   
   stageUI.addContent(strip);
   stageUI.addContent(componentTile);
   stageUI.addContent(new sap.ui.commons.Label({text: "Scn Community Design Studio Compnents"}));
   stageUI.placeAt("content");

      </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61231710-1', 'auto');
  ga('send', 'pageview');

</script>

<style>
	.org-scn-CompListBody{
		valign: top;
		height: 800px!important;
	}
</style>
   </head>
   <body class="sapUiBody" role="application">
      <div height="*" id="content"></div>
   </body>
</html>
