<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<title>Marimekko Chart - SCN Design Studio Community</title>
</head>
<body class="comp-body">
<div class="comp-main">

	<div class="component-name">
	MarimekkoChart [ScnCommunityDataBound]
	</div>
	<div class="component-title">
	Marimekko Chart
	</div>

	

	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>legendTitle<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Legend Title</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">Legend</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>legendWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Legend Width (px)</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">150</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>legendScale<br/>[float]</B></td>
<td width="*" class="property-title-tooltip"><B>Legend Scale</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>legendX<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Legend Offset X</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>legendY<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Legend Offset Y</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>data<br/>[ResultSet]</B></td>
<td width="*" class="property-title-tooltip"><B>Data Selection</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">DataBinding</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onSelect<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Select</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSelectedRow [<a href="#FUNCTION_getSelectedRow">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSelectedColumn [<a href="#FUNCTION_getSelectedColumn">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getSelectedValue [<a href="#FUNCTION_getSelectedValue">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">float</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setLegendVisible [<a href="#FUNCTION_setLegendVisible">details</a>]</td>
<td valign="top" width="*" class="function-short-name">visible</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setColorPalette [<a href="#FUNCTION_setColorPalette">details</a>]</td>
<td valign="top" width="*" class="function-short-name">palette</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>stringData<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Data Stringified</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">BLANK</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selectedRow<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Selected Row</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selectedColumn<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Selected Column</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selectedValue<br/>[float]</B></td>
<td width="*" class="property-title-tooltip"><B>Selected Value</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ms<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Animation Duration (ms)</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">750</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>showValues<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show Values</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>legendOn<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Show Legend</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>makeRoomX<br/>[boolean]</B></td>
<td width="*" class="property-title-tooltip"><B>Avoid Legend</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">true</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>margin<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Margin Size</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">20</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>colorPalette<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Colour Palette</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">#748CB2,#9CC677,#EACF5E,#F9AD79,#D16A7C,#8873A2,#3A95B3,#B6D949</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>selectedColor<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Selection Colour</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">#009966</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<A NAME="FUNCTION_getSelectedRow">
<td valign="top" width="220px" class="function-return-name">String<br/>getSelectedRow</td>
<td valign="top" width="*" class="function-help">Get&nbsp;selected&nbsp;row<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.selectedRow;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getSelectedColumn">
<td valign="top" width="220px" class="function-return-name">String<br/>getSelectedColumn</td>
<td valign="top" width="*" class="function-help">Get&nbsp;selected&nbsp;column<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.selectedColumn;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getSelectedValue">
<td valign="top" width="220px" class="function-return-name">float<br/>getSelectedValue</td>
<td valign="top" width="*" class="function-help">Get&nbsp;selected&nbsp;value<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.selectedValue;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setLegendVisible">
<td valign="top" width="220px" class="function-return-name">void<br/>setLegendVisible</td>
<td valign="top" width="*" class="function-help">Set&nbsp;Legend&nbsp;Visibility<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>visible</B></td>
<td width="120px" class="parameter-type"><B>boolean</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.legendOn&nbsp;=&nbsp;visible;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setColorPalette">
<td valign="top" width="220px" class="function-return-name">void<br/>setColorPalette</td>
<td valign="top" width="*" class="function-help">Set&nbsp;Color&nbsp;Palette<br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>palette</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.colorPalette&nbsp;=&nbsp;palette;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>

</div>
</body>
</html>