<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
</head>
<body class="comp-body">
<div class="comp-main">

	<div class="component-name">
	ClientInformation [ScnCommunityUtils]
	</div>
	<div class="component-title">
	Client Information
	</div>

	

	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onChanged<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>Event for On Changed</B><br/>

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getWindowWidth [<a href="#FUNCTION_getWindowWidth">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getWindowHeight [<a href="#FUNCTION_getWindowHeight">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getOwnWidth [<a href="#FUNCTION_getOwnWidth">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getOwnHeight [<a href="#FUNCTION_getOwnHeight">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">int</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>windowHeight<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Height of the Window</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>windowWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Width of the Window</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ownHeight<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Height of the Component</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>ownWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Width of the Component</B><br/>

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<A NAME="FUNCTION_getWindowWidth">
<td valign="top" width="220px" class="function-return-name">int<br/>getWindowWidth</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;width&nbsp;of&nbsp;the&nbsp;browser&nbsp;window<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.windowWidth;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getWindowHeight">
<td valign="top" width="220px" class="function-return-name">int<br/>getWindowHeight</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;height&nbsp;of&nbsp;the&nbsp;browser&nbsp;window<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.windowHeight;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getOwnWidth">
<td valign="top" width="220px" class="function-return-name">int<br/>getOwnWidth</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;width&nbsp;of&nbsp;the&nbsp;own&nbsp;size<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.ownWidth;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getOwnHeight">
<td valign="top" width="220px" class="function-return-name">int<br/>getOwnHeight</td>
<td valign="top" width="*" class="function-help">Returns&nbsp;the&nbsp;height&nbsp;of&nbsp;the&nbsp;own&nbsp;size<br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.ownHeight;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>

</div>
</body>
</html>