<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
</head>
<body class="comp-body">
<div class="comp-main">

	<div class="component-name">
	ListSelector [ScnCommunityBasics]
	</div>
	<div class="component-title">
	List Selector
	</div>

	

	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>titles<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Titles</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default">Facebook,YouTube,Twitter,SAP</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>spriteIDs<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Sprite IDs (Optional)</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>visibilities<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Visibilities (Optional)</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>fixedWidth<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Fixed Width (-1 for auto)</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default">-1</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>spriteSheet<br/>[Url]</B></td>
<td width="*" class="property-title-tooltip"><B>Icon Sprite Sheet (Optional)</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>labelClicked<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Selected Label</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>labelPlacement<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Label Placement (Relative to Icon)</B><br/>
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">After</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">Before</td>
<td class="value-td"></td>
</tr>

</table>
</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default">After</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>labelOrientation<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Label Orientation</B><br/>
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">horizontal</td>
<td class="value-td"></td>
</tr>
<tr class="list-tr">
<td class="value-td">vertical</td>
<td class="value-td">X</td>
</tr>

</table>
</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default">vertical</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>textAlign<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Text Alignment</B><br/>
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">left</td>
<td class="value-td"></td>
</tr>
<tr class="list-tr">
<td class="value-td">center</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">right</td>
<td class="value-td"></td>
</tr>

</table>
</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default">center</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>verticalAlign<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Vertical Alignment</B><br/>
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">top</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">middle</td>
<td class="value-td"></td>
</tr>
<tr class="list-tr">
<td class="value-td">bottom</td>
<td class="value-td"></td>
</tr>

</table>
</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default">top</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>spriteSheetPerRow<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Icons Sprites Per Row</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>iconWidth<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Icon Width (px)</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>iconHeight<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Icon Height (px)</B><br/>

</td>
<td width="60px" class="property-group"></td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>onclick<br/>[ScriptText]</B></td>
<td width="*" class="property-title-tooltip"><B>On Click...</B><br/>

</td>
<td width="60px" class="property-group">Events</td>
<td width="100px" class="property-default"></td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getLabelClicked [<a href="#FUNCTION_getLabelClicked">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">setTitles [<a href="#FUNCTION_setTitles">details</a>]</td>
<td valign="top" width="*" class="function-short-name">titles</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">getTitles [<a href="#FUNCTION_getTitles">details</a>]</td>
<td valign="top" width="*" class="function-short-name"></td>
<td valign="top" width="160px" class="function-short-return">String</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<A NAME="FUNCTION_getLabelClicked">
<td valign="top" width="220px" class="function-return-name">String<br/>getLabelClicked</td>
<td valign="top" width="*" class="function-help">Get&nbsp;last&nbsp;menu&nbsp;element&nbsp;title&nbsp;clicked.<br/><div class='html-example'"><div class='html-code'>var&nbsp;itemSelected&nbsp;=&nbsp;LISTSELECTOR_1.getLabelClicked();</div></div><returns>Chart&nbsp;property&nbsp;as&nbsp;String&nbsp;type.</returns><br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.labelClicked;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_setTitles">
<td valign="top" width="220px" class="function-return-name">void<br/>setTitles</td>
<td valign="top" width="*" class="function-help">Sets&nbsp;titles&nbsp;of&nbsp;your&nbsp;menu&nbsp;elements.<br/><div class='html-example'"><div class='html-code'>LISTSELECTOR_1.setTitles("Google,Bing,Ask.com");</div></div><note>Seperate&nbsp;each&nbsp;entry&nbsp;by&nbsp;a&nbsp;comma.</note><br/><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>titles</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this.titles&nbsp;=&nbsp;titles;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_getTitles">
<td valign="top" width="220px" class="function-return-name">String<br/>getTitles</td>
<td valign="top" width="*" class="function-help">Get&nbsp;list&nbsp;of&nbsp;menu&nbsp;element&nbsp;titles.<br/><div class='html-example'"><div class='html-code'>var&nbsp;titles&nbsp;=&nbsp;LISTSELECTOR_1.Titles();</div></div><returns>Comma-seperated&nbsp;list&nbsp;of&nbsp;menu&nbsp;element&nbsp;titles</returns><br/><br/>

<TABLE width="100%" class="table1">


</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
return&nbsp;this.titles;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>

</div>
</body>
</html>