<html>
<head>
<link rel="stylesheet" type="text/css" href="../../doc.css">
<link rel="stylesheet" type="text/css" href="../../tables.css">
<title>Notify - SCN Design Studio Community</title>
</head>
<body class="comp-body">
<div class="comp-main">

	<div class="component-name">
	Notify [ScnCommunityBasics]
	</div>
	<div class="component-title">
	Notify
	</div>

	

	<br/>
	<div class="component-properties">VISIBLE PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>delay<br/>[int]</B></td>
<td width="*" class="property-title-tooltip"><B>Delay(Seconds)</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">3</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>layout<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Layout</B><br/>&nbsp;
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">top</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">topCenter</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">topLeft</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">topRight</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">center</td>
<td class="value-td">X</td>
</tr>
<tr class="list-tr">
<td class="value-td">centerLeft</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">centerRight</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">bottom</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">bottomCenter</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">bottomLeft</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">bottomRight</td>
<td class="value-td">&nbsp;</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">center</td>
<td width="60px" class="property-visible">true</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>modal<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>Modal</B><br/>&nbsp;
<table style="width: 100%; border-top: 1px solid #000;" class="table1">
<tr class="values-table-th"><th>Posible Value</th><th>Default</th></tr>
<tr class="list-tr">
<td class="value-td">true</td>
<td class="value-td">&nbsp;</td>
</tr>
<tr class="list-tr">
<td class="value-td">false</td>
<td class="value-td">X</td>
</tr>

</table>
</td>
<td width="60px" class="property-group">Display</td>
<td width="100px" class="property-default">false</td>
<td width="60px" class="property-visible">true</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-properties">VISIBLE EVENTS</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	
	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS LIST</div>

	<br/>
	
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Parameters</th><th>Return</th></tr>
	<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">alert [<a href="#FUNCTION_alert">details</a>]</td>
<td valign="top" width="*" class="function-short-name">text</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">information [<a href="#FUNCTION_information">details</a>]</td>
<td valign="top" width="*" class="function-short-name">text</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">error [<a href="#FUNCTION_error">details</a>]</td>
<td valign="top" width="*" class="function-short-name">text</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">warning [<a href="#FUNCTION_warning">details</a>]</td>
<td valign="top" width="*" class="function-short-name">text</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">notification [<a href="#FUNCTION_notification">details</a>]</td>
<td valign="top" width="*" class="function-short-name">text</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>

<tr class="function-table-tr">
<td valign="top" width="240px" class="function-short-name">success [<a href="#FUNCTION_success">details</a>]</td>
<td valign="top" width="*" class="function-short-name">text</td>
<td valign="top" width="160px" class="function-short-return">void</td>
</tr>


	</TABLE>

	<br/>
	<div class="component-properties">HIDDEN (TECHNICAL) PROPERTIES</div>

	<br/>
		
	<TABLE width="100%" class="table1">
	<tr class="component-table-th"><th>Name</th><th>Description</th><th>Group</th><th>Default</th><th>Visible</th></tr>
	<tr>
<td width="120px" class="property-name-type"><B>msgtext<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>msgtext</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>shownote<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>shownote</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>
<tr>
<td width="120px" class="property-name-type"><B>msgtype<br/>[String]</B></td>
<td width="*" class="property-title-tooltip"><B>msgtype</B><br/>&nbsp;

</td>
<td width="60px" class="property-group">&nbsp;</td>
<td width="100px" class="property-default">&nbsp;</td>
<td width="60px" class="property-visible">false</td>
</tr>

	</TABLE>

	<br/>
	<div class="component-functions">FUNCTIONS IN DETAIL</div>

	<br/>
	
	<TABLE width="100%" class="">
	<tr class="function-table-tr">
<A NAME="FUNCTION_alert">
<td valign="top" width="220px" class="function-return-name">void<br/>alert</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>text</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this[&quot;msgtype&quot;]&nbsp;=&nbsp;&quot;alert&quot;;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;msgtext&quot;]&nbsp;=&nbsp;text;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;shownote&quot;]&nbsp;=&nbsp;&quot;Y&quot;;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_information">
<td valign="top" width="220px" class="function-return-name">void<br/>information</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>text</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this[&quot;msgtype&quot;]&nbsp;=&nbsp;&quot;information&quot;;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;msgtext&quot;]&nbsp;=&nbsp;text;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;shownote&quot;]&nbsp;=&nbsp;&quot;Y&quot;;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_error">
<td valign="top" width="220px" class="function-return-name">void<br/>error</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>text</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this[&quot;msgtype&quot;]&nbsp;=&nbsp;&quot;error&quot;;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;msgtext&quot;]&nbsp;=&nbsp;text;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;shownote&quot;]&nbsp;=&nbsp;&quot;Y&quot;;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_warning">
<td valign="top" width="220px" class="function-return-name">void<br/>warning</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>text</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this[&quot;msgtype&quot;]&nbsp;=&nbsp;&quot;warning&quot;;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;msgtext&quot;]&nbsp;=&nbsp;text;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;shownote&quot;]&nbsp;=&nbsp;&quot;Y&quot;;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_notification">
<td valign="top" width="220px" class="function-return-name">void<br/>notification</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>text</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this[&quot;msgtype&quot;]&nbsp;=&nbsp;&quot;notification&quot;;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;msgtext&quot;]&nbsp;=&nbsp;text;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;shownote&quot;]&nbsp;=&nbsp;&quot;Y&quot;;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>

<tr class="function-table-tr">
<A NAME="FUNCTION_success">
<td valign="top" width="220px" class="function-return-name">void<br/>success</td>
<td valign="top" width="*" class="function-help"><br/>

<TABLE width="100%" class="table1">
<tr class="function-table-th"><th>Name</th><th>Type</th><th>Help</th></tr>
<tr class="function-table-tr-content">
<td width="120px" class="parameter-name"><B>text</B></td>
<td width="120px" class="parameter-type"><B>String</B></td>
<td width="*" class="parameter-help"></td>
</tr>

</TABLE>

</td>
</tr>
<tr class="function-table-tr-content">
<td class="function-table-tr-content-desc">Source Code</td>
<td class="function-table-tr-content-code">
this[&quot;msgtype&quot;]&nbsp;=&nbsp;&quot;success&quot;;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;msgtext&quot;]&nbsp;=&nbsp;text;<br/>&nbsp;&nbsp;&nbsp;&nbsp;this[&quot;shownote&quot;]&nbsp;=&nbsp;&quot;Y&quot;;
</td>
</tr>
<tr class="function-table-tr-empty"><td colspan="2">
&nbsp;
</td></tr>


	</TABLE>

</div>
</body>
</html>